#root {
  margin: 0 auto;
  padding: 0;
}

#header{
  background-color: white;
}
#overviewbg{
  background-color: #f1efec;
}
#aboutbg, #contactbg{
  background-color: #f9f9f9
}

#projectbg:hover{
  background-color: #f1efec;
}

#overview{
  min-height: 80vh;
  display: table;
}

#overviewdv{
  padding-top: 4rem;
  margin:0 auto;
  display: table-cell;
  vertical-align: middle;
}

#about, #projects {  
  padding-top: 6rem;
  padding-bottom: 4rem;
}

#contact {
  min-height: 40rem;
  /* max-width: 60rem; */
  padding-top: 6rem;
  font-size: 1.5rem;
}

#overview h1 {
  font-size: 6rem;
  padding-bottom: 2.5rem;
  font-family: "Roboto Slab", serif;
}

#overview h2, #about h2, #projects h2, #contact h2 {
  font-size: 4rem;
  color: rgb(252, 103, 54);
  font-family: "Open Sans", sans-serif;
}

#overview h3{
  color: #9c9c9c;
  font-size: 3rem;
  padding-bottom: 2.5rem;
}

#overview h4{
  color: #9c9c9c;
  font-size: 2.5rem;
  margin-bottom: 0;
}

#header {
  width: 100%;
  top: 0;
  position: fixed;
  z-index: 999;
  -webkit-box-shadow: 0 4px 6px -6px #222;
  -moz-box-shadow: 0 4px 6px -6px #222;
  box-shadow: 0 4px 6px -6px #222;
}

#about p {
  max-width: 60rem;
  font-size: 1.5rem;
  margin-top: 20px;
}
#about div {
  margin-bottom: 0.8rem;
}
#about span, #project span {
  padding-left: 1rem;
  font-size: 1.1rem;
}

#projects > p {
  font-size: 1.5rem;
  margin-top: 20px;
}

#cardBody p {
  font-size: 1.3rem;
  margin-top: 20px;
  font-weight: 400;
}

#images {
  margin: 5rem 2rem;
  box-shadow: 1rem 1rem 1rem -6px #343434;
  border: solid 1px #9c9c9c;
  position: relative;
}

#links {
  position: absolute;
  bottom: 3rem;
  right: 3rem;
  /* transform: translateY(-3rem); */
  box-sizing: border-box;
}

#images a{
  text-decoration: none;
  color: white;
  margin: 0 2rem;
  display: none;
}

#images a:hover{
  color: rgb(252, 103, 54);
}

#images:hover #links a{
  display: inline;
  transition: transform 0.4s 0.1s, color 0.4s;
}

#images::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: rgba(166, 164, 160, 0.756);
  width: 100%;
  height: 0;
  clip-path: polygon(0 100%, 100% 0, 100% 100%);
  transition: 0.4s;
}

#images:hover::before {
  height:20rem;
}

#cardBody {
  padding-left: 2rem;
  padding-right:2rem;
  padding-bottom: 2rem;
}

#cardBody a{
  text-decoration: none;
  color: black;
}

#cardBody a:hover{
  color: rgb(252, 103, 54);
}

#contactBn:hover {
  background-color:rgb(252, 103, 54);
  color: rgb(255, 255, 255);
}

#contactBn {
  border: 2px solid;
  border-color: rgb(252, 103, 54);
  border-radius: 10px;
  color: rgb(252, 103, 54);
  width: 10rem;
  margin:0 auto;
  display: block;
  text-align: center;
  text-decoration: none;
  padding: 2px 6px 2px 6px;
}

#projectbg:hover #b {
  display:block;
}
    
#b {
  display:none;
}

#footer {
  min-height: 7rem;
}

#footer a{
  width: 1rem;
}

#footer p, #footer a{
  margin:0 auto;
  display: block;
  text-align:center;
  padding-top: 1rem;
  color: #595959;
  font-size: 1rem;
}

@media only screen and (min-width: 1025px){
  #project img{
    width: 30rem; 
    overflow: hidden;
  }
}

@media only screen and (min-height: 1000px) and (min-width: 1201px){
  #project img{
    width: 45rem; 
    overflow: hidden;
  }
}

@media only screen and (max-width: 1024px){
  #project img{
    width: 25rem; 
    margin: 2rem;
    overflow: hidden;
  }
  #project {
    flex-direction: column;
  }
}

@media only screen and (max-width: 1399px) {
  #cartoon {
    display: none;
  }  
}

@media only screen and (max-width: 480px) {
  html {
    font-size: 12px;
    }
}


